'.source.sqr':
  'begin-heading ... end-heading':
    'prefix': 'head'
    'body': 'begin-heading $1\n\t$0\nend-heading'
  'begin-program ... end-program':
    'prefix': 'prog'
    'body': 'begin-program $1\n\t$0\nend-program'
  'begin-procedure ... end-procedure':
    'prefix': 'proc'
    'body': 'begin-procedure $1\n\t$0\nend-procedure'
  'begin-select ... end-select':
    'prefix': 'sel'
    'body': 'begin-select\n$0\nend-select'
  'begin-sql ... end-sql':
    'prefix': 'sql'
    'body': 'begin-sql $1\n\t$0\nend-sql'
  'if ... end-if':
    'prefix': 'if'
    'body': 'if ${1:condition}\n\t$0\nend-if'
  'if ... else ... end-if':
    'prefix': 'ife'
    'body': 'if ${1:condition}\n\t$2\nelse\n\t$3\nend-if'
  'evaluate ... end-evaluate':
    'prefix': 'eval'
    'body': 'evaluate ${1:value}\nwhen ${2:condition}\n\t$0\n\end-evaluate'
  'while ... end-while':
    'prefix': 'while'
    'body': 'while ${1:condition}\n\t$0\nend-while'
