'scopeName': 'source.sqr'
'name': 'SQR'
'fileTypes': [
  'sqr'
  'sqc'
]
'foldingStartMarker': '(?i)^\\s*+(begin-procedure|if|begin-report|begin-heading|begin-select|begin-sql|#ifdef).*'
'foldingStopMarker': '(?i)^\\s*+(end-procedure|end-if|end-report|end-heading|end-select|end-sql|#end-if).*'
'patterns': [
  {
    'captures':
      '1':
        'name': 'punctuation.definition.comment.sqr'
    'match': '(!).*$\\n?'
    'name': 'comment.line.bang.sqr'
  }
  {
    'match': '(?i)\\b(?:end-if|let|begin-procedure|end-procedure|do|show|else|call|using|print|goto|begin-report|end-report|begin-heading|end-heading|end-select|end-sql|begin-select|begin-sql|if)\\b'
    'name': 'keyword.control.sqr'
  }
  {
    'match': '(?i)#\\b(?:ifdef|end-if)\\b'
    'name': 'keyword.control.sqr'
  }
  {
    'begin': '#include'
    'captures':
      '1':
        'name': 'keyword.control.import.include.sqr'
    'end': '(?=(?://|/\\*))|$'
    'name': 'meta.preprocessor.sqr.include'
    'patterns': [
      {
        'match': '(?>\\\\\\s*\\n)'
        'name': 'punctuation.separator.continuation.sqr'
      }
      {
        'begin': '"'
        'beginCaptures':
          '0':
            'name': 'punctuation.definition.string.begin.sqr'
        'end': '"'
        'endCaptures':
          '0':
            'name': 'punctuation.definition.string.end.sqr'
        'name': 'string.quoted.double.include.sqr'
      }
    ]
  }
  {
    'match': '(#|\\$)[\\w-]+'
    'name': 'variable.language.sqr'
  }
  {
    'begin': '\''
    'end': '\''
    'name': 'string.quoted.single.sqr'
    'patterns': [
      {
        'match': '\\\\.'
        'name': 'constant.character.escape.sqr'
      }
    ]
  }
]
